.pictures {
  width: 85vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .picture {
    margin: 0.5rem 0;
    width: 23%;
    text-align: center;
    .author {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        &:hover {
          color: #0064f9;
        }
      }
    }
    .pic_container {
      height: 40vh;
      overflow: hidden;
      a {
        img {
          width: 100%;
          height: 100%;
          transition: transform 0.3s;
          object-fit: cover;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .download {
      a {
        &:hover {
          color: #0064f9;
        }
      }
    }
  }
}

@media screen and (max-width: 1141px) {
  .pictures {
    .picture {
      width: 31%;
    }
  }
}
@media screen and (max-width: 961px) {
  .pictures {
    .picture {
      width: 48%;
    }
  }
}
@media screen and (max-width: 651px) {
  .pictures {
    .picture {
      width: 100%;
    }
  }
}
