.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  form {
    input,
    button {
      padding: 0.3rem 0.5rem;
      font-size: 1.5rem;
      border: 2px solid #303030;
      border-radius: 7px;
    }
    input {
      width: 30vw;
      min-width: 150px;
    }
    button {
      background-color: rgb(71, 71, 71);
      color: white;
      border-left: none;
      box-shadow: #303030 4px 4px 0 0;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
      &:hover {
        cursor: pointer;
        background-color: rgb(160, 160, 160);
        color: rgb(71, 71, 71);
      }
      &:active {
        transform: translate(2px, 2px);
        box-shadow: #303030 2px 2px 0 0;
      }
    }
  }
}
